*{
    padding: 0;
    margin: 0;
}

body{
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-menu-toggle{
    display: none;
}
.navbar-links a{
    text-decoration: none;
    color: #1d232c;

}
/*side navbar*/
.side-navbar{
    background-color: #1d232c;
    width: 50%;
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: -60%;
    color: white;
    transition:2s;
}
.side-navbar-links{
    margin-bottom: 30px;
}
.side-navbar-links a{
    text-decoration: none;
    color: white;
}
.side-navbar-links a:hover{
    text-decoration: underline;
}
/*header*/

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}
.header-button{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-top: 10px;
    background-color: #1d232c;
    color: white;
    cursor: pointer;
    
}
/*service*/

.service{
    padding: 10px;
    margin-top: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-container-2 div{
    background-color:#f2f4f7;
    border-radius:5%;
    padding: 10px;
}
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}
.most-wanted{
    margin-top: 10px;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival-container button{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10px;
    color: #1d232c;
    position: absolute;
    top: 60%;
    left: 18%;
    border-radius: 10px;
    border: none;
}
.news{
    display: flex;
    flex-direction: column;
    align-items:center ;
    margin-top: 20px;

}

.news p{
    margin-top: 10px;
}
.news input{
    padding: 11px;
    width: 80vw;
    margin-top: 20px;
    margin-bottom:10px ;
    border: solid black 3px;
}
.news button{
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1d232c;
    border-radius:10px ;
    padding: 10px;
}
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: #f2f4f7;
}
.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border:solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.product-search input:focus{
    outline:none;
}

.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products-box{
    text-align: center;
    flex-basis: 20%;
}
.products-box img{
    border-radius: 10px;
}
/*contact*/
.contact{
    display: flex;
    background-color:rgb(25, 27, 58);
    color:white;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top:30px ;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right:80px;
    border-radius: 10px;
    padding: 30px;
    gap: 10px;
}
.contact-form{
    width: 80%;
    height: 40px;
    border:solid black 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
    background-color:#f2f4f7;
}
.contact-form input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.contact-form input:focus{
    outline: none;
}
.contact-button{
    
    padding-left:11px ;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius:5px ;
    width: 70px;
    background-color: #5b95eb;
    color: white;
    cursor: pointer; 
}
/* Media Query*/

@media  screen and (max-width:500px) {
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-image{
        display: none;
    }
    .service-container-1{
        display:none;
    }
    .service-container-2{
        flex-direction: column;
    }
    }

   
